.main-content{
    margin: 0;
}
.header-user-icon{
    border: 1px solid #aeaeae;
    border-radius: 25px;
    padding: 5px 8px 5px 8px;
    color: #aeaeae;
}

.custom-tabs{
    gap:0;
}

.footer-links ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
  }
  .footer-links .link-body{
    text-align: left;
    line-height: 3;
  }

  .page-content {
    padding: calc(90px + 24px) calc(24px / 2) 60px calc(24px / 2); }

    .footer-2 , .footer-2-body{
        background-color: #f5f5f5;
    }

    .footer-2-body i{
        padding:5px;
    }