@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('@fortawesome/fontawesome-free/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'SF Pro Display', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'SF Pro Display', sans-serif;
  }

  .loginContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-button{
    background-color: #143fe2;
  }