@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('@fortawesome/fontawesome-free/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size-adjust:0.5;
  font-variation-settings:
    "wdth" 100;
    line-height:1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff !important;
  }

  *{
    font-size: 0.9rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings:
      "wdth" 100;
      line-height:1.5;
  }

  .loginContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-button{
    background-color: #0071e3;
  }

  .banner-image{
    width: 82% !important;
    object-fit: cover;
  }

  .banner-bg{
    background-color:#0071e3 ;
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .green {
    background-color: green;
  }
  
  .red {
    background-color: red;
  }

  .dashboard-table tr span{
    font-size: 0.8rem;
  }

  .dashboard-table tr td:nth-child(-n+7) span:nth-of-type(2) {
    color: #aeaeae;
  }

  .mm-active{
    border-right:4px solid #0071e3;
  }

  .custom-tabs .nav-link {
    border: none;
    color: #000;
  }

  .btn-color-prime{
    background-color:#0071e3;
  }
  
  .profile-details .detail-icons {
    height: fit-content;
  }

  p{
    font-size: 12px;
  }

  hr.dotted {
    border: none; /* Remove the default border */
    border-top: 2px dotted #000; /* Add a dotted border */
    margin: 20px 0; /* Adjust spacing */
  }

  label{
    font-weight: 400;
  }

  /* Scrollbar width */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
  border-radius: 2px;  /* Rounded corners */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #0071e3; /* Dark gray thumb */
  border-radius: 5px; /* Rounded corners */
}

/* Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray when hovered */
}


button , .dropdown-menu{
  border: 0 !important;
}

.status-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.bg-danger {
  background-color: red;
}
.bg-success {
  background-color: green;
}
.fas.fa-user {
  color: #007bff; /* Adjust the color as needed */
}

.iframe .ytp-chrome-top{
  display: none;
}

.tab-border-left {
  border-left: 3px solid #0071e3;
}

.tab-border-bottom {
  border-bottom: 3px solid #0071e3;
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.no-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.public-faq .accordion-body{
  visibility: visible;
  text-align: left;
}

.public-faq .accordion-button{
  background: #fff;
  box-shadow: 0 0 #fff;
}