@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('@fortawesome/fontawesome-free/css/all.min.css');

body {
    font-family: 'SF Pro Display', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f3f3f4 !important;
  }

  *{
    font-size: 0.9rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'SF Pro Display', sans-serif;
  }

  .loginContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-button{
    background-color: #0071e3;
  }

  .banner-image{
    width: 82% !important;
    object-fit: cover;
  }

  .banner-bg{
    background-color:#0071e3 ;
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .green {
    background-color: green;
  }
  
  .red {
    background-color: red;
  }

  .dashboard-table tr span{
    font-size: 0.8rem;
  }

  .dashboard-table tr td:nth-child(-n+7) span:nth-of-type(2) {
    color: #aeaeae;
  }

  .mm-active{
    border-right:4px solid #0071e3;
  }

  .custom-tabs .nav-link {
    border: none;
    color: #000;
  }

  .btn-color-prime{
    background-color:#0071e3;
  }
  
  .profile-details .detail-icons {
    height: fit-content;
  }

  p{
    font-size: 12px;
  }

  hr.dotted {
    border: none; /* Remove the default border */
    border-top: 2px dotted #000; /* Add a dotted border */
    margin: 20px 0; /* Adjust spacing */
  }

  label{
    font-weight: 400;
  }

  /* Scrollbar width */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray background */
  border-radius: 2px;  /* Rounded corners */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #0d6efd; /* Dark gray thumb */
  border-radius: 5px; /* Rounded corners */
}

/* Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker gray when hovered */
}


button , .dropdown-menu{
  border: 0 !important;
}